{% extends "base.html" %}

{% block content %}
  <h1>Hello, {{user.nickname}}!</h1>
  {% for post in postings %}
  <p> {{post.author.nickname}} says: <em>{{post.body}}</em></p>
  {% endfor %}
  <p>
  	Thank you for visiting this blog
  </p>

{% endblock %}